openapi: 3.0.4
info:
  title: Fortune Teller
  description: >-
    Fortune Teller uses AI to generate personalized mystical fortunes across
    multiple categories including love, career, health, wealth, and travel.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/fortuneteller:
    get:
      summary: Get AI Fortune Prediction
      description: Generate personalized AI fortune with insights and lucky elements
      operationId: fortuneteller
      parameters:
        - name: category
          in: query
          schema:
            type: string
          required: false
          description: Fortune category
          example: general
        - name: question
          in: query
          schema:
            type: string
          required: false
          description: Optional question for personalized fortune (max 500 characters)
          example: What does the future hold for me?
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  fortune: >-
                    The threads of destiny are weaving a tapestry of unexpected
                    joy; embrace the unknown, for within its depths lie blossoms
                    of serendipity. A golden opportunity awaits, carried upon
                    the wings of synchronicity.
                  insight: >-
                    Trust in the whispers of your intuition; it shall guide you
                    through the maze of life.
                  timeframe: in the coming weeks
                  category: general
                  question: null
                  luckyNumbers:
                    - 87
                    - 10
                    - 16
                    - 83
                    - 99
                    - 34
                  luckyElement: Wood
                  luckyColor: Purple
                  luckyDay: Tuesday
                  timestamp: '2025-12-16T22:23:31.796Z'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
